@media only screen and (max-width:600px) {
    #img-logo {
        max-width: 200px !important;
        width: auto !important;

    }
}

#img-logo {
    margin-left: 5px;
    max-width: 250px;
    width: 95%;
    margin-top: 1%;
}

#mobile-nav li:hover {
    background-color: #eee
}

.sidenav .active #info-collapsible-list {
    transform: rotate(180deg);
}